<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main class="max-w-[700px] mx-auto">

      <div class="flex mb-5 pb-4 border-b border-b-gray">
        <span class="mr-2">Filter Todo</span>
        <select name="" id="todo-filter" class="border border-gray px-2 rounded">
          <option value="" disabled selected hidden></option>
          <option value="">All</option>
          <option value="done">Done</option>
          <option value="upcomings">Upcomings</option>
        </select>
      </div>

      <h2 class="bg-teal p-2 mb-5 text-xl text-center todo-header uppercase">All Todos</h2>
      
        <ul class="todo-list">
          <% if ( todos.length > 0 ) { %>
            <% for (let todo of todos ) { %>
              <li class="shadow shadow-lg rounded p-6 mb-5">
                <div class="flex">
                  <input type="checkbox" name="completed"  class="w-5 h-5 block mr-3 todo-checkbox" data-todo-id="<%= todo.id %>" <%= todo.completed === 1 ? 'checked' : '' %> >
                  <div>
                    <h2 class="font-semibold mb-3"><%= todo.name %></h2>
                    <p class="mb-3"><%= todo.description %></p>
                    <p class="italic text-sm text-gray"><%= moment(todo.date_time).format('dddd, MMMM Do YYYY, h:mm:ss a') %></p>
                    <div class="mt-3">
                      <a class="border rounded-sm border-blue px-3 py-1 mr-1 inline-block hover:bg-blue" href="/todos/edit-todo/<%= todo.id %>?edit=true">Edit</a>
                      <form action="/todos/delete-todo" method="POST" class="inline">
                        <input type="hidden" name="id" value="<%= todo.id %>">
                        <button class="border rounded-sm border-pink px-3 py-1 mr-1 hover:bg-pink" type="submit">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              
              </li>
            <% } %>
          <% } else { %>
            <li class="shadow shadow-lg rounded mb-5">
              <div class="flex flex-col items-center justify-center h-[200px] bg-yellow">
                <span class="text-[30px]">No any tasks yet!</span>
                <span class="text-[50px]">Please add some tasks!</span>
              </div>
            </li>
          <% } %>


        </ul>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js" integrity="sha512-vFABRuf5oGUaztndx4KoAEUVQnOvAIFs59y4tO0DILGWhQiFnFHiR+ZJfxLDyJlXgeut9Z07Svuvm+1Jv89w5g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/main.js"></script>
  <%- include('../includes/end.ejs') %>