<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <main class="max-w-[700px] mx-auto">
            <form action="/todos/<% if (editing) { %>edit-todo<% } else { %>add-todo<% } %>"
              class="shadow shadow-lg rounded p-4 mb-5" method="POST" id="todo-form">
              <div class="mb-4">
                <label for="name" class="block mb-2">Name <span class="text-pink">*</span></label>
                <input type="text" name="name" id="name"
                  class="border block w-full p-2 rounded-sm <%= validationErrors['name'] && 'border-pink' %>"
                  value="<% if (editing || hasError) { %><%= todo.name %><% } %>">
                <span class="text-pink text-sm italic"><%= validationErrors['name'] %></span>
              </div>

              <div class="mb-4">
                <label for="description" class="block mb-2">Description <span class="text-pink">*</span></label>
                <textarea type="text" name="description" id="description"
                  class="border block w-full p-2 rounded-sm <%= validationErrors['description'] && 'border-pink' %>"
                  value="<% if (editing || hasError) { %><%= todo.name %><% } %>"><% if (editing || hasError) { %><%= todo.description %><% } %></textarea>
                  <span class="text-pink text-sm italic"><%= validationErrors['description'] %></span>
              </div>
              <div class="mb-4">
                <label for="date-time" class="block mb-2">Date and Time <span class="text-pink">*</span></label>
                <input type="datetime-local" name="date_time" id="date-time" class="border block w-full p-2 rounded-sm <%= validationErrors['date_time'] && 'border-pink' %>"
                  value="<% if (editing || hasError) { %><%= moment(todo.date_time).format('YYYY-MM-DDTHH:mm:ss') %><% } %>">
                <span class="text-pink text-sm italic"><%= validationErrors['date_time'] %></span>
              </div>

              <% if (editing) { %>
                <input type="hidden" value="<%= todo.id %>" name="id">
                <% } %>

                  <div class="mb-4">
                    <button type="submit" class="border rounded-sm bg-blue border-blue px-3 py-1 mr-1 hover:bg-white" id="todo-save-btn">
                      <% if (editing) { %> Edit Todo <% } else { %> Add Todo <% } %>
                    </button>
                  </div>
            </form>


      </main>
      <script src="/js/todo-form.js"></script>
      <%- include('../includes/end.ejs') %>